body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: flex;
    gap: 10px;
    background: rgba(26, 26, 26, 0.47);
    padding: 10px;
    border-radius: 16px;
    width: calc(100% - 40px);
    justify-content: center;
    align-items: center;
    color: white;
}

#map-container {
    width: 100vw;
    height: 100vh;
}

.loading {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff80;
    backdrop-filter: blur(8px);
    font-size: 20px;
}