body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    gap: 10px;
    background: rgba(26, 26, 26, 0.47);
    padding: 16px;
    width: 100%;
    height: 64px;
    justify-content: start;
    align-items: center;
    color: black;
    background: white;
    box-sizing: border-box;
}

.header > h1 {
    font-size: 16px;
    font-weight: 600;
}

.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.spacer {
    flex-grow: 1;
}

.footer {
    position: fixed;
    bottom: 24px;
    left: 10%;
    z-index: 200;
    display: flex;
    width: 60vw;
    gap: 10px;


}

.panel {
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 16px;

    justify-content: center;
    align-items: center;
    color: black;
}

#map-container {
    width: calc(100vw - 16px - 16px);
    height: calc(100vh - 64px - 16px);
    border-radius: 16px;
    margin: 16px;
    margin-top: 64px;
}

.loading {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff80;
    backdrop-filter: blur(8px);
    font-size: 20px;
}

button.active {
    background: red;
}

.left {
    position: fixed;
    left: 10%;
    width: 400px;
    bottom: 150px;
    height: 60vh;
    background: white;
    border-radius: 16px;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 16px;
}


.left.open {
    transform: translateY(0);
    width: 60vw;
}


.table-container {
    flex-grow: 1;
    overflow: auto;
    display: none;
}

.tableShown {
    display: block;
}

.maf-row {
    animation: maf-row-new 2s;
}

@keyframes maf-row-new {
    0% {
        color: red;
    }
    100% {
        color: black;
    }
}

.budget-value {
    animation: budget-value-change 2s;
}

@keyframes budget-value-change {
    0% {
        color: red;
        font-size: 20px;
    }
    100% {
        color: black;
        font-size: 16px;
    }
}

.ages {
    display: flex;
    flex-direction: column;
}

.right {
    position: fixed;
    overflow: auto;
    right: 30px;
    width: 400px;
    top: 80px;
    height: 60px;
    background: #D9D9D980;
    backdrop-filter: blur(4px);
    z-index: 100;

    transition: height 0.5s ease-in-out;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 16px;
}

.right.open {
    height: calc(100% - 190px);
}

.maf {
    background: white;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    margin-bottom: 8px;
}


.mapboxgl-canvas {
    outline: none;
    /*outline: 1px solid #5267C8;*/
    border: 1px solid #EAEBEB;
    border-radius: 16px;
    box-sizing: border-box;
}

.mapboxgl-ctrl-logo {
    opacity: 1%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 12px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    top: 2px;
    left: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #5267C8;
}

input:focus + .slider {
    /*box-shadow: 0 0 1px #2196F3;*/
}

input:checked + .slider:before {
    transform: translateX(8px);
}

.sliders {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;

    accent-color: coral;

    background-image: linear-gradient(#5267C8, #5267C8);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  /*cursor: ew-resize;*/
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
    /*background: #5267C8;*/
}

.providersBar {

}

.providersBar > h3 {
    font-size: 14px;
    color: #8A8D91;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.providers {
    display: flex;
    gap: 8px;
}

.providerLabel {
    font-size: 14px;

    padding: 4px 12px;
    cursor: pointer;
    border-radius: 12px;

    background: transparent;
    border: 1px solid #5267C8;
    color: #5267C8;
}

.providerLabel.active {

    color: white;
    background: #5267C8;
}

.preview {
    width: 120px;
    height: 75px;
    object-fit: contain;
    margin-right: 16px;
}

.maf .title {
    font-size: 16px;
    font-weight: 500;
    color: #06080A;
}

.maf .card {
    display: flex;
    flex-direction: column;
}

.maf .codes {
    font-size: 16px;
    font-weight: 400;
    color: #8A8D91;
}

.maf .cost {
    font-weight: 600;
    font-size: 14px;
    color: #06080A;
}
